.content-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100vh - 100px);
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
  background: #f8f8fa;
  &.active {
    height: calc(100vh);
    background: white;
  }
}

.content-container::-webkit-scrollbar {
  display: none;
}
